// Add your CSS here!
// You can also use SASS syntax to make things easier.
// Sass will convert everything into regulator CSS. See the readme for installation.

// Variables
$body-background: linear-gradient(0, rgb(50, 50, 50) 0%, rgb(100, 90, 100) 100%);
$card-background: #0a5870;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  // Just making the margins smaller
  margin: 4px 0;
}

body {
  background: $body-background;
  display: flex;
}

// The background is the div holding our title and the map.
.background {
  width: 100%;
  padding: 8px;

  // Makes sure everything is centered and upright
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  margin: 2%;
  flex-grow: 1;
  display: flex;

  > svg {
    flex-grow: 1;
  }

  path {
    fill: none;
    stroke: rgba(255, 255, 255, 50%);
    stroke-width: 0.5;
  }
}

#video-layer {
  position: absolute;
  width: 100%;
  height: 100%;

  iframe {
    position: absolute;
    width: 24px;
    height: 18px;
  }
}

.show-card {
  background-color: $card-background;
  color: white;

  min-width: 75%;
  min-height: 30%;
  border-radius: 30px;
  padding: 16px;
  overflow: hide;

  // Makes sure that our two inner divs show up side-by-side
  display: flex;
  flex-direction: row;

  position: absolute;
  // Bottom -100% defaults the card to being off-screen
  bottom: -100%;
  left: 24px;
  transition: bottom ease 1s;

  &.visible {
    // Moves the card up into visible space
    bottom: 24px;
  }

  .blurb {
    max-width: 30%;
    padding: 4px;
  }

  #videoEmbed {
    border: 3px solid black;
    background-color: white;
    height: 250px;
    width: 380px;
  }
}

