// Add your Sass-style CSS here!
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-canvas {
  background-color: red;
  width: 100%;
  height: 100%;
}

.show-card {
  position: absolute;
  bottom: 0px;
  z-index: 100;

  background-color: blue;
  width: 90%;
  height: 200px;
  border-radius: 30px;
}
