html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  margin: 4px 0;
}

body {
  background: linear-gradient(0, #323232 0%, #645a64 100%);
  display: flex;
}

#delorian {
  width: 200px;
}

.background {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  margin: 2%;
  flex-grow: 1;
  display: flex;
}

#map > svg {
  flex-grow: 1;
}

#map path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 0.5;
}

#video-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#video-layer iframe {
  position: absolute;
  width: 48px;
  height: 36px;
  border: none;
}

.show-card {
  background-color: #0a5870;
  color: white;
  min-width: 75%;
  min-height: 30%;
  border-radius: 30px;
  padding: 16px;
  overflow: hide;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -100%;
  left: 24px;
  transition: bottom ease 1s;
}

.show-card.visible {
  bottom: 24px;
}

.show-card .blurb {
  max-width: 30%;
  padding: 4px;
}

.show-card #videoEmbed {
  border: 3px solid black;
  background-color: white;
  height: 250px;
  width: 380px;
}
